

{{#if board.notBounceState }}
  <table style='inline board'>
    <thead></thead>
    <tbody>{{!-- action="changePlayer" --}}
        <tr>
          <td>{{tic-spot square=board.x0y0 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
          <td>{{tic-spot square=board.x0y1 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
          <td>{{tic-spot square=board.x0y2 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
        </tr>
        <tr>
          <td>{{tic-spot square=board.x1y0 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
          <td>{{tic-spot square=board.x1y1 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
          <td>{{tic-spot square=board.x1y2 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
        </tr>
        <tr>
          <td>{{tic-spot square=board.x2y0 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
          <td>{{tic-spot square=board.x2y1 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
          <td>{{tic-spot square=board.x2y2 currentPlayer=board.currentPlayer action="changePlayer" }}</td>
        </tr>
    </tbody>
  </table>
  {{else}}
    Winner {{board.winner}}
  {{/if}}

