<h3>
  Game Screen
</h3>

<h6>player 1 {{player1.name}}</h6>
<h6>player 2 {{player2.name}}</h6>

Game Name: {{game.name}}
<br/>number of boards: {{game.boards.length}}

{{#each board in game.boards}}
    {{small-board board=board   currentPlayer=currentPlayer }}
{{/each}}
