games index:
<ul>
{{#each game in controller}}
  <li>
    {{link-to game.name 'games.game' game}}
    | {{game.id}}
    | 1) {{game.player1}}
    | 2) {{game.player2}}
    | C) {{game.currentPlayer}}
  </li>
{{/each}}
</ul>


<button {{action createGame}}>create game</button>
